<!DOCTYPE html>
<html lang="en">
  <body>
    <!-- content for about page -->
    <div class="container" id="about">
      <div class="row">
        <h2 class="text-center">About Page</h2>
        <div class="col-xs-12">
          <p>
            My name is Yahshemi Walters. I am a full stack web developer.
            I did my studies at the San Diego Code School. I like music 
            and art, and experiencing different cultures. I recently got
            into photography, and I really enjoy it. I shoot with a Canon
            Rebel T3, which is an older model, but it still captures really
            great shots.
          </p>
        </div>
      </div>
    </div>
    <!-- end of content -->
  </body>
</html>
