<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
    <title>Yahshemi's Portfolio</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
    crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <style type="text/css">

      *,
      *::before,
      *::after{
      
          box-sizing: border-box;
     }
      *:focus{

      outline: none;
    }

    body{
      padding: 0%;
      margin: 10%;
      background: #000;
      color: white;
      font-family: "Oxygen" , sans-serif;
    }

    a{
      text-decoration: none;
    }

    img{
      width: 80%;
    }

    .home img{
      width: 100%;
      -webkit-filter: grayscale(100%) 
      contrast(100%);
      filter: grayscale(100%)
      contrast(200%)
      brightness(60%)
    }

    .portfolio img{
      filter: grayscale(100%);

    }
    
    aside{
      position: fixed;
      background: #222;
      top: 0px;
      left: 0px;
      width: 100px;
      height: 100%;
      overflow: none;
      z-index: 1;
      text-align: center;
      padding: 0;
    }

    aside img{
      filter: grayscale(100%)
      contrast(50%)
      brightness(100%);
      margin-bottom: -3px;
    }
    
    .material-icons.md-36{
      font-size: 36px;
    }

    aside a{
      display: block;
      padding: 15px 0;
      color: white;
      transition: all 0.35s;
      text-transform: uppercase;
      font-size: 0.75em;
      letter-spacing: 2px;
    }

    aside p{
      margin: 0;
      padding: 0;
    }
              
    aside a:hover{
      background:#000;
    }

    aside nav a:nth-child(2){
      background: #000;

    }

    aside nav a:nth-child(2):hover{
    background: #b2b2b2;
    color: #222;
    }

    main{
      max-width: 980px;
      background: #000;
      margin-left: 20%;
      padding: 12px 50px 12px 50px
    }

    header{
      text-align: center;
      letter-spacing: 2px;

    }
    
    header h1{
      font-weight: bold;
      font-size: 4em;
      letter-spacing: 4px;

    }

    header h5{
      font-weight: 300;
      font-size: 1em;
      letter-spacing: 4px;
      color: #b2b2b2;
    }

    .about,
    .portfolio,
    .contact{
      line-height: 1.5em;
      letter-spacing: 1px;
      font-weight: 300;
    }

    .about h2,
    .portfolio h2,
    .contact h2{
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: line-through;
      padding-bottom: 10px;
      margin: 100px 0 0 0;
      letter-spacing: 4px;

    }

    .about p{
      color: #b2b2b2;
    }

    .about span{
      font-weight: 600;
      color: white;

    }

    .about h3{
      font-weight: 300;
      margin: 50px 0;
    }

    .container{
      width: 100%;
      background-color: #b2b2b2;

    }

    .skills{
      text-align: right;
      padding-right: 20px;
      line-height: 30px;
      color: white;
      background-color: #424242;

    }

    .javascript{
      width: 75%
    }

    .html{
      width: 75%
    }

    .css{
      width: 70%
    }

    .jquery{
      width: 70%
    }

    .react{
      width: 70%
    }

    .portfolio h3{
      color: white;
      font-weight: 300;
      letter-spacing: 2px;
    }

    .portfolio p{
      font-size: 0.875em;
    }
    .row-halves{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      -webkit-flex-pack:justify;
    }

    .row-halves .col {
      width: 30%;
    }
    
    .col{
      border: 2px solid #222;
      background: #222;
      color: #b2b2b2;
      padding: 10px;
  }

  label{
    color: #b2b2b2;

  }

  form input [type="text"],
  select,
  textarea{
    width:100%;
    padding: 12px;
    border: none;
    border: 1px solid #222;
    background: transparent;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: #b2b2b2;

  }

  form input[type="text"]:focus,
  textarea:focus {
    outline:none;
    border: 1px solid #009688;
  }

  input[type="submit"]{
    background-color: transparent;
    color: #b2b2b2;
    text-transform: uppercase;
    padding: 12px 20px;
    border: 1px solid #222;
    cursor: pointer;
    transition: all 0.35s;

  }

  input[type="submit"]{
    background-color: transparent;
    color: #b2b2b2;
    text-transform: uppercase;
    padding: 12px 20px;
    border: 1px solid #222;
    cursor: pointer;
    transition: all 0.35s;

  }

  input[type="submit"]:hover{
  background-color: #b2b2b2;
  color: #222;
  }

  .contact .container{
    margin-top: 20px;
    margin-bottom: 100px;
    background: transparent;
    padding: 20px 0px;
  }

  .footer{
    border-top: 1px solid #222;
  }

  .top-bar{
  padding: 20px 0px;
  text-align: center;
  }

.top-bar a {
  margin: 10px;
  font-size: 2em;
  color: #b2b2b2;
  transition: all 0.35s;
  display: inline-block;
}

.top-bar a:hover{
transform: scale(1.1);
color: #009688;
}

.bottom-bar{
  background: #000;
  font-size: 0.75em;
  text-align: center;
}

@media (max-width: 768px){
  .row-halves{
    display: block;
  }
  .row-halves .col{
    width: 100%;
    margin: 0 0 50px 0;
  }
}

@media (max-width: 601px){
  aside{
    display: none;
  }
  main{
    width: 100%;
    margin: 0 auto;
    padding: 12px 25px;
  }
}

header{
  margin-top:   80px;
}


header  h1{
  font-size: 3em;
  line-height: 1.4em;

}

header  h5{
  font-size: 1em;
  letter-spacing: 2px;
  
}

.mobile-nav{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: rgba (0,0,0,0.8);
  z-index: 1;
}

.mobile-nav a{
  width: 100%;
  color: #b2b2b2;
  text-transform: uppercase;
  font-size: 0.875em;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px 10px;
  transition: all 0.35s;

}

.mobile-nav a hover{
background: #b2b2b2;
color: #222;

}

@media (min-width: 600px){
.mobile-nav{
  display: none;
}
}
    </style>

  </head>

  <body>
    <aside>
      <nav>
        <img
        class="img-yahshemi-bw"
        src="img/yahshemi-bw.jpg"
        alt="A photo of Yahshemi"
        />
        <a href="#home"
          ><i class="material-icons md-36">home</i>
          <p>Home</p>
        </a>

        <a href="#about"
          ><i class="material-icons md-36">person</i>
          <p>About</p>
        </a>

        <a href="#portfolio"
          ><i class="material-icons md-36">image</i>
          <p>Portfolio</p>
        </a>

        <a href="#contact"
          ><i class="material-icons md-36">mail</i>
          <p>Contact</p>
        </a>

        <a href="https://github.com/Yahshemi" target="_blank"
        ><i class="fab fa-github fa-4x"></i>
        <p>Git Hub</p>
        </a>

      </nav>
    </aside>

    <nav class="mobile-nav">
      <a href="#home">Home</a> 
      <a href="#about">About</a>
      <a href="#portfolio">Portfolio</a> 
      <a href="#contact">Contact</a>
      <a href="https://github.com/Yahshemi" target="_blank">Git Hub</a>
    </nav>

    <main>
      <header class='home' id= 'home'> <br><br>
        <hr size="3" noshade>
        <h1>Yahshemi Walters</h1>
        <hr size="3" noshade>
        <br>
        <h5>Junior Web Developer</h5>
        <img
        class="img-yahshemi-bw"
        src="img/yahshemi-bw.jpg"
        alt="A photo of Yahshemi"
      />

      </header>

    </main>

    <section class="about" id='about'>
      <h2>About Me</h2>
      <p> 
          <span>Hello my name is <%= person.firstName %> <%= person.lastName %>
          </span>. I am a full stack web developer.
          I studied web development at the San Diego Code School, where I learned 
          HTML, CSS, JavaScript, React, Jquery, Express, Bootstrap, and many more. 
          I enjoy listening to music, going to art galleries, and experiencing 
          different cultures. I recently picked up photography, and I really enjoy it. 
          I shoot with a Canon Rebel T3, which is an older model, but it still captures 
          really great shots. I plan to continue to further my education in web development
          in order to one day become a senior web developer. 
      </p>

      <p>
          "I believe that the way we interact with the world around us, is
          shaped by those who create the conduits through which we go about
          our daily lives."
      </p>

      <h3>My Skills</h3>
      
      <p>JavaScript</p>
      <div class='container'>
        <div class='skills javascript'>75%</div>
      </div>

      <p>HTML</p>
      <div class='container'>
        <div class='skills html'>75%</div>
      </div>

      <p>CSS</p>
      <div class='container'>
        <div class='skills css'>70%</div>
      </div>
      
      <p>Jquery</p>
      <div class='container'>
        <div class='skills jquery'>70%</div>
      </div>

      </div>

      <p>React</p>
      <div class='container'>
        <div class='skills react'>70%</div>
      </div>

      </div>
    </section>

    <section class='portfolio' id='portfolio'>
    
    <h2>Portfolio</h2>

     <div class= "row-halves">
      <div class='col'>
      <a href="https://yw-react-vstda.herokuapp.com/" target="_blank">
          <img
          class="img-todo"
        src="img/todo.jpg"
        alt="A photo of a todo list"
        />
       
        <h3>A Very Simple To-Do App</h3>
        </a>
        <p>Stay organized with this very simple to-do app. Keep track of all 
           your tasks. Edit and delete with ease.</p>
        </div>
      

        <div class='row-halves'>
            <div class='col'>
            <a href="https://yw-sd-top-spots.herokuapp.com/" target="_blank">
                <img
                class="img-san-diego-city"
        src="img/san-diego-city.jpg"
        alt="A photo of San Diego"
              />
              <h3>San Diego Top Spots</h3>
              </a>
              <p>Explore a few of San Diego's must see locations with the easy to use app.</p>
              </div>

              <div class='row-halves'>
                  <div class='col'>
                      <img
                      class="img-solar-system"
                     src="img/solar-system.jpg"
                      alt="A photo of the solar system"
                    />
                    <h3>Astro Weight Calculator</h3>
                    <p>See what your weight would be on another Planet</p>
                    </div>

                    <div class='row-halves'>
                        <div class='col'>
                            <img
                            class="img-Mortgage"
                                src="img/Mortgage.jpg"
                                  alt="A photo of Mortgage"
                          />
                          <h3>Mortgage Calculator</h3>
                          <p>Planning on buying a home? Why not use this app to see what
                             your monthly payments will be.</p>
                          </div>
</div>
  </section>
  
  <section class='contact' id='contact'>

    <h2>Contact</h2>
    <div class='container'>
      <form action=''>
        <label for='name'>First Name</label>
        <input type='text' id='firstName' name='firstName'>
        
        <label for='name'>Last Name</label>
        <input type='text' id='lastName' name='lastName'>
        
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
        
        <label for="message">Message</label>
        <textarea name="message" style="height:200px" id="message"></textarea>
        <input type="submit" value="message">

      </form>
    </div>

  </section>

  <section class="contact" id='contact'></section>
  <footer>
 <section class="top-bar">
   <a href='https://www.flickr.com/photos/166823293@N04/albums' target="_blank"><i class="fab fa-flickr"></i></a>
   <a href='https://twitter.com/yahshemi?lang=en' target="_blank"><i class='fab fa-twitter'></i></a>
   <a href='https://github.com/Yahshemi ' target="_blank"><i class='fab fa-github'></i></a>

  </section>
  <section class="bottom-bar">
    <p>&copy; 2018 | All rights reserved | Yahshemi Walters</p>
  </section>

  </footer>

  </body>
</html>
