<html>
    <head>
        <title>Yahshemi thanks you</title>
    </head>
    <body>
        <div>
            Thank you <%= contact.firstName%> <%= contact.lastName%> for connecting with me.
        </div>
    </body>
</html>