/* Sticky footer styles
-------------------------------------------------- */
.img-yahshemi-bw {
    width: 300px;
    height: auto;
}
.img-fashion-bw{
    width: 300px;
    height: auto;
}
.img-Mortgage{
    width:100%;
    height: auto;
}
.img-san-diego-city{
    width: 300px;
    height: auto;
}
.img-todo{
    width: 300px;
    height: auto;
}
.img-solar-system{
    width: 300px;
    height: auto;
}
