/* Sticky footer styles
-------------------------------------------------- */
.img-yahshemi-bw {
  width: 200px;
  height: auto;
}
.img-fashion-bw {
  width: 300%;
  height: auto;
}
.img-Mortgage {
  width: 300px;
  height: auto;
}
.img-san-diego-city {
  width: 300px;
  height: auto;
}
.img-todo {
  width: 300px;
  height: auto;
}
.img-solar-system {
  width: 300px;
  height: auto;
}
